# Dependencies
/node_modules
/.pnpm-store
.npm
.yarn

# Production
/build
/out

# Next.js
/.next/
/next-env.d.ts

# Misc
.DS_Store
*.log

# next-image-export-optimizer
nextImageExportOptimizer
**/nextImageExportOptimizer
